*{
    margin: 0 ;
    padding: 0 ;
}
body {
    height: 100vh ;
    background-image: url('banner.png');
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: white ;
    box-shadow: 3px 3px 3px rgb(204, 115, 115);
}
nav ul {
    width: 100% ;
    list-style: none ;
    display: flex ;
   justify-content: flex-end ;
   align-items: center ; 
}
nav li {
    height: 50px ;

}
nav a{
    height: 100% ;
    padding: 0 30px;
    text-decoration: none ;
    display: flex ;
    color: black ;
}
nav a:hover{
    background-color:white ;
}
nav li:first-child{
    margin-right: auto ;
}
.sidebar{
    position: fixed ;
    top: 0 ;
    right: 0 ;
    height: 100vh ;
    width: 250px ;
    z-index: 999 ;
    background-color: rgb(229, 169, 169) ;
    box-shadow: -10px 0 10px rgba(240, 166, 166, 0.2) ;
    display: none ;
    flex-direction: column ;
    align-items: flex-start ;
    justify-content: flex-start ;
    backdrop-filter: blur(10px );
}
.sidebar li{
    width: 100% ;
}
.sidebar a {
    width: 100% ;
}
@media(max-width : 800px){
    .hideName{
        display: none ;
    }
}
@media (max-width : 400px ){
    .sidebar{
        width: 100% ;
    }
}
